<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Registration Page</title>
</head>
<body>
<h2>User Registration</h2>
<form id="registrationForm" action="/signup" method="POST">
    <input type="email" name="email" placeholder="email" required>
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <label for="userType">User Type:</label>
            <select id="userType" name="userType" required>
                <option value="EMPLOYER">Employer</option>
                <option value="JOB_SEEKER">Job Seeker</option>
            </select>
    <input type="submit" value="Register">
</form>
<script>
    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        var passwordField = document.getElementsByName('password')[0];
        if (passwordField.value.length < 1) {
            alert('Password must be at least 1 characters long.');
            event.preventDefault(); // Prevent form submission
        }
    });

</script>
</body>
</html>